{{template "header.html" .}}
<title>JPChat</title>

<style>
.wide { display: none }
.narrow { display: initial }
@media screen and (min-width: 600px) {
    .wide { display: initial }
    .narrow { display: none }
}

input.text {
    outline:none;
    font-family:inherit;
    flex-grow: 1;
    background: white;
    min-width: 0;
    padding: 0.5rem;
    border: none;
    height: 2rem;
    border-radius: 1rem;
    width: 100%;
    box-shadow: 0 0 1px #aaa;
}

input[type=checkbox] + label {
    display: flex;
    cursor: pointer;
    padding-left: 0.25rem;
    user-select: none;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\1f3b2";
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 120%;
}

input[type=checkbox] + label:after {
    white-space: normal;
    font-family: monospace;
}

input[type=checkbox]:checked + label:before {
    content: '+';
    margin-right: 0.25rem;
}

input[type=checkbox]:checked + label:after {
    content: ' ';
    animation: textrotate 1.5s linear infinite;
}

@keyframes textrotate{
    {{range (randomChannelSuffix 10)}}
    {{index . 0}}%{
        content: '{{index . 1}}';
    }
    {{end}}
}
</style>

<div style="margin: 0 auto; width: 100%; max-width: 400px;display: flex;flex-direction:column;justify-content: center; height: 100%;">
    <div style='background:#f5f6f7;padding:0.5rem 1rem;box-shadow:0 0 12px 0px #aaa'>
    <p style='text-align:center;padding:1rem'>
        <a href='https://github.com/coyove/jpchat'>
        <img src='/~static/logo.svg' style='display:block;margin:0 auto;width:64px;height:64px'>
        </a>
        Instant messaging with zero javascript and telemetry
    </p>

    <p style='font-size:80%;color:#666;text-align:center'>
    Channel will be created upon first entering
    </p>

    {{range .widths}}
    {{template "join.html" .}}
    {{end}}

    <p>
    <b>{{.totalCh}}</b> channels, <b>{{.activeCh}}</b> active channels<br>
    <b>{{.totalUser}}</b> online users
    </p>

    <p>
        <a class=narrow href="/report?w=400">#report</a>
        <a class=wide href="/report?w=800">#report</a> abuse.
    </p>
    <p>
        Join <a class=narrow href="/welcome?w=400">#welcome</a>
        <a class=wide href="/welcome?w=800">#welcome</a> for random stuff.<br>
        Ask & feedback in <a class=narrow href="/jpchat?w=400">#jpchat</a>
        <a class=wide href="/jpchat?w=800">#jpchat</a>.
    </p>
    </div>
</div>

{{template "footer.html" .}}
